/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap");

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
  font-family: Roboto Condensed, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Roboto Condensed;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Roboto Condensed;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #cccccc;}
input:-moz-placeholder {color: #cccccc;}
input::-moz-placeholder {color: #cccccc;}
input:-ms-input-placeholder {color: #cccccc;}

textarea::-webkit-input-placeholder {color: #cccccc;}
textarea:-moz-placeholder {color: #cccccc;}
textarea::-moz-placeholder {color: #cccccc;}
textarea:-ms-input-placeholder {color: #cccccc;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

#cargo {
  width: 60%;
}

#salario {
  width: 40%;
}

#cargo .wrap-input {
  width: 95%;
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.wrap-contact {
  display: flex;
  min-width: 415px;
  justify-content: center;
}

.show-wrap-contact {
  visibility: visible;
  opacity: 1;
}


/*==================================================================
[ Form ]*/

.contact-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 68px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
  width: 100%;
  height: 40px; /* traz pra perto a linha */
  position: relative;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 45px;
  white-space: nowrap;
}

.wrap-check {
  width: 100%;
  height: 40px; /* traz pra perto a linha */
  padding-bottom: 45px;
  position: relative;
  white-space: nowrap;
}

.wrap-date {
  width: 100%;
  height: 30px; /* traz pra perto a linha */
  position: relative;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 45px;
  white-space: nowrap;
}

label {
  font-family: Roboto Condensed;
  font-size: 16px;
  color: white;
  line-height: 1.2;
  padding-left: 2px;
}

.input {
  display: inline-block;
  width: 70%;
  background: transparent;
  font-family: Roboto Condensed;
  font-size: 16px;
  color: white;
  line-height: 1.2;
  padding: 0 10px;
}

.input[name="nome"] {
  width: 65%;
}

.input[name="email"] {
  width: 85%;
}

.input[name="cargo"] {
  width: 75%;
}

.input::placeholder {
  width: 100%;
}

.input-date {
  display: inline-block;
  background: transparent;
  font-family: Roboto Condensed;
  font-size: 16px;
  color: white;
  line-height: 1.2;
  padding: 0 10px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: black;
  background: -webkit-linear-gradient(90deg, white, black);
  background: -o-linear-gradient(90deg, white, black);
  background: -moz-linear-gradient(90deg, white, black);
  background: linear-gradient(90deg, white, black);
}


/*---------------------------------------------*/
input.input {
  height: 50px;
}


textarea.input {
  min-height: 140px;
  padding-top: 13px;
  padding-bottom: 13px;
}


.input:focus + .focus-input::before {
  width: 100%;
}

.has-val.input + .focus-input::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}

.wrap-contact-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.contact-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  border: 2px solid white;
  font-family: Roboto Condensed;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.contact-form-btn:hover {
  background-color: white;
  color: black;
}

.wrap-contact-form-btn:hover .contact-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;

  font-family: Roboto Condensed;
  color: #c80000;
  font-weight: 550;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 10px;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  margin-bottom: 10px;
  color: #c80000;
  font-size: 18px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.true-validate::after {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-bottom: 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 5px;
}

.tipos-contrato {
  display: inline;
  padding-left: 15px;
  word-spacing: 15px;
}

#no-spacing {
  word-spacing: 0;
}

.control {
  font-family: Roboto Condensed;
  display: inline;
  position: relative;
  padding-left: 25px;
  padding-top: 0px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 2px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #e0e0e0;
}

.control input:checked ~ .control_indicator {
  background: #000000;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #222222;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 9px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
