@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
* {
    box-sizing: border-box; 
    padding: 0px;
    margin: 0px;
    min-width: 0;
}

body {
    margin: 0;
    background-color: #121212;
}

#main {
    display: flex;
    min-height: calc(100vh - 40vh);
    flex: 0 0 42%;
}

#main > formu {
    flex: 2;
}

#main > ladoesq, ladodir {
    flex: 0 0 29%;
    /*background: red;*/
}

#main > ladoesq {
    order: -1;
}

formu {
    padding-top: 1em;
}

header {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    /*background: red;*/
}

.img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ladoesq {
    margin: -90px 0 0 0;
    z-index: -3;
}

.onboarding {
    font-family: 'Roboto', sans-serif;
    margin-left: -30px;
    color: #1E1E1E;
    font-weight: 550;
    font-size: 1620%; /* ou 260px */
    line-height: 200px;
    word-break:break-all;
    /* Texto não selecionável: */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

formu {
    font-family: "Roboto Condensed";
    color: white;
    margin-top: 20px;
    transform: scaleY(0.9);
}

formu h1 {
    font-family: "Roboto Condensed";
    color: white;
    text-align: center;
    line-height: 33px;
    font-weight: 550;
    font-size: 40px;
}

p {
    font-family: "Roboto Condensed";
    color: white;
    text-align: center;
    line-height: 33px;
    font-weight: 1;
    font-size: 20px;
    margin: 16px;
}

#foot {
    box-sizing: border-box;
    width: 100%;
    padding: 0 14%;
}

footer {
    width: 100%;
    background-color: black;
    text-align: center;
    padding-bottom: 10px;
}

footer p {
    font-family: "Roboto Condensed";
    color: white;
    text-align: center;
    line-height: 1.5em;
    font-weight: 1;
    font-size: 12px;
}

footer img {
    margin: 20px 0 10px 0;
}

formu p {
    font-family: "Roboto Condensed";
    color: white;
    text-align: center;
    line-height: 33px;
    font-weight: 1;
    font-size: 20px;
    padding: 16px;
}

@media screen and (max-width: 800px) {
    ladoesq, ladodir {
        display: none;
    }
    formu {
        margin: 0 10%;
    }
}